/**
 * Created by Ijat
 * v 1.0
 */

html {
    font-family: sans-serif;
    padding: 10px;
}

body {
    padding: 16px;
    display: block;
    margin: auto;
    /*max-width: 75%;*/
}

input {
    padding: 10px;
    border: 0.5px solid black;
    border-radius: 3px;
    margin-bottom: 15px;
    box-sizing: border-box;
    resize: none;
    font-family: sans-serif;
}

.fullwidth {
    width: 100%;
}

.passinput {
    padding: 10px;
    border: 0.5px solid black;
    border-radius: 3px;
    margin-bottom: 15px;
    box-sizing: border-box;
    resize: none;
    font-family: sans-serif;
}

.col-center {
    margin: auto;
    /*width: 60%;*/
    border: 3px solid #73AD21;
    padding: 2px;
    text-align: center;
}

.grid-container {
    display: grid;
    grid-template-columns: auto;
    grid-gap: 2px;
    /*background-color: #2196F3;*/
    padding: 2px;
}

.grid-container>.grid-item {
    /*background-color: rgba(255, 255, 255, 0.8);*/
    text-align: center;
    padding: 8px 0;
}

.left {
    text-align: left;
}


/* For mobile phones: */

[class*="col-"] {
    width: 100%;
}

@media only screen and (min-width: 768px) {
    /* For desktop: */
    [class*="col-"] {
        width: 50%;
    }
}